
  /* .ballcontainer {
    display: flex;
    align-items: center;
  } */
  /* .ball {
    background-color: red;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 220px;
    z-index: 1000;
  } */