body {
  padding: 0px;
  margin: 0px;
}
.title {
  font-size: 2em;
  color: mediumslateblue;
  border: 2px solid green;
}
.manualcontrols {
  position: fixed;
  top: 15px;
  left: 0px;
  z-index: 2;
}
.pyramid {  
  height: 100%;
  max-width: 100%;
  transform: scale(.65, .65);
}
.qbertcanvas {
  background-color: darkslategray;
  height: 900px;
  width: 1500px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.p1 {
  position: absolute;
  transition: all .3s linear;
  z-index: 1000;
}
.qbert {
  top: 110px;
  left: 6px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  background-color: red;
}
.p1Jumping .qbert {
  animation: bounce-1;
}
.qbertcanvas.p1R1 .p1 {
  top: 80px;
}
.qbertcanvas.p1R1.p1C1 .p1, .qbertcanvas.p1R3.p1C2 .p1, .qbertcanvas.p1R5.p1C3 .p1, .qbertcanvas.p1R7.p1C4 .p1{
  left: 720px;
}
.qbertcanvas.p1R2 .p1 {
  top: 160px;
}
.qbertcanvas.p1R2.p1C1 .p1, .qbertcanvas.p1R4.p1C2 .p1, .qbertcanvas.p1R6.p1C3 .p1 {
  left: 670px;
}
.qbertcanvas.p1R2.p1C2 .p1, .qbertcanvas.p1R4.p1C3 .p1, .qbertcanvas.p1R6.p1C4 .p1 {
  left: 766px;
}
.qbertcanvas.p1R3 .p1 {
  top: 230px;
}
.qbertcanvas.p1R3.p1C3 .p1, .qbertcanvas.p1R5.p1C4 .p1, .qbertcanvas.p1R7.p1C5 .p1 {
  left: 815px;
}
.qbertcanvas.p1R3.p1C1 .p1, .qbertcanvas.p1R5.p1C2 .p1, .qbertcanvas.p1R7.p1C3 .p1 {
  left: 625px;
}
.qbertcanvas.p1R4 .p1 {
  top: 310px;
}
.qbertcanvas.p1R4.p1C4 .p1, .qbertcanvas.p1R6.p1C5 .p1 {
  left: 860px;
}
.qbertcanvas.p1R4.p1C1 .p1,.qbertcanvas.p1R6.p1C2 .p1 {
  left: 580px;
}
.qbertcanvas.p1R5 .p1 {
  top: 385px;
}
.qbertcanvas.p1R5.p1C5 .p1, .qbertcanvas.p1R7.p1C6 .p1 {
  left: 905px;
}
.qbertcanvas.p1R5.p1C1 .p1, .qbertcanvas.p1R7.p1C2 .p1 {
  left: 535px;
}
.qbertcanvas.p1R6 .p1 {
  top: 460px;
}
.qbertcanvas.p1R6.p1C6 .p1 {
  left: 955px;
}
.qbertcanvas.p1R7.p1C7 .p1 {
  left: 1000px;
}
.qbertcanvas.p1R6.p1C1 .p1 {
  left: 490px;
}
.qbertcanvas.p1R7 .p1 {
  top: 535px;
}
.qbertcanvas.p1R7.p1C1 .p1 {
  left: 440px;
}

@keyframes bounce-1 {
  10% {
    height: 50px;
    width: 50px;
  }
  30% {
    height: 50px;
    width: 57px;
  }
  50% {
    height: 50px;
    width: 57px;
    transform: translateY(130px);
  }
  75% {
    height: 50px;
    width: 57px;
  }
  100% {
    transform: translateY(0px);
  }
}
.p1 {
  height: 160px;
  width: 57px;
}
.shadow {
  background-color: rgba(25, 25, 25, 0.1);
  height: 15px;
  width: 65px;
  bottom: 0px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  animation: shrink 0.9s infinite;
}
@keyframes shrink {
  50% {
    transform: scaleX(0.5)
  }
}
.cubesize {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.cube {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;
  width: 9.5%;
}
.side {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  color: white;
  text-align: center;
  line-height: 100px;
  margin: 0px;
  font-size: 2em;
}
.right {
  transform: rotateX(-45deg) rotateY(45deg) rotateZ(0deg) translateZ(50px);
  z-index: 1;
  background: navy;
}
.top {
  transform: rotateX(-45deg) rotateY(45deg) rotateX(90deg) translateZ(50px);
  z-index: 1;
  background: goldenrod
}
.visited .top {
  background: purple;
}
.left {
  transform: rotateX(-45deg) rotateY(45deg) rotateY(-90deg) translateZ(50px);
  z-index: 1;
  background: cornflowerblue;
}
.qbertcanvas.p1R1.p1C1 .cube.cubeR2 .side.top:hover,
.qbertcanvas.p1R2.p1C1 .cube.cubeR1.cubeC1 .side.top:hover,
.qbertcanvas.p1R2.p1C1 .cube.cubeR3.cubeC1 .side.top:hover,
.qbertcanvas.p1R2.p1C1 .cube.cubeR3.cubeC2 .side.top:hover,
.qbertcanvas.p1R2.p1C2 .cube.cubeR1.cubeC1 .side.top:hover,
.qbertcanvas.p1R2.p1C2 .cube.cubeR3.cubeC2 .side.top:hover,
.qbertcanvas.p1R2.p1C2 .cube.cubeR3.cubeC3 .side.top:hover
 {
  background: rgb(106, 218, 32);
}
